



 	<!-- Para retrofit -->
    <uses-permission android:name="android.permission.INTERNET" />

	<!-- External storage for files. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />




   <application
        android:allowBackup="true"
        android:exported="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


		<activity android:name=".activities.RestInterfaceActivity" />
		

		<activity android:name=".activities.ProductActivity" />
		<activity android:name=".activities.ProductFormActivity" />
		<activity android:name=".activities.ShoppingCartActivity" />
		<activity android:name=".activities.ShoppingCartFormActivity" />
		<activity android:name=".activities.UserActivity" />
		<activity android:name=".activities.UserFormActivity" />
		<activity android:name=".activities.ProviderActivity" />
		<activity android:name=".activities.ProviderFormActivity" />
		<activity android:name=".activities.ImageProductActivity" />
		<activity android:name=".activities.ImageProductFormActivity" />


    </application>
