   <application
        android:allowBackup="true"
        android:exported="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".activities.ProviderActivity" />
		<activity android:name=".activities.ProviderFormActivity" />
		<activity android:name=".activities.UserActivity" />
		<activity android:name=".activities.UserFormActivity" />
    </application>
